<div class='main-about'>
  <div class='content'>
    <h2>Journey through your own photography and make your own</h2>
    <h1>STORIES</h1>
  </div>
</div>

<div class='supporting-about'>
  <h2>Don't wait</h2>
  <h1>Make a move.</h1>
  <%= link_to 'Sign up', 'signups/new' , class: 'btn btn-primary' %>
</div>