<div class='main'>
  <div class='main-content'>
    <h1>This is your flight to make your own stories</h1>
    <%= link_to 'Learn more', '/about', class: 'btn btn-primary', id: 'learn-more-main' %>
  </div>
</div>

<div class='supporting'>
  <h2>Get out there and make stories</h2>
  <p>It's you who starts a story and finishes it</p>
</div>

<div class='supporting-bg'>
</div>

<div class='discover'>
  <h1>Discover Stories Now</h1>
  <a class='btn btn-primary' href='#'>Learn more</a>
</div>

<div class='footer'>
  <p>Building Stories</p>
</div>